<div class="container">
  <div class="footer">
    <div class="footer__left">
      <div class="footer__nav">
        <a href="#" class="footer__nav--item">CONTACT</a>
        <a href="#" class="footer__nav--item">TERMS OF SERVICES</a>
        <a href="#" class="footer__nav--item">SHIPPING AND RETURNS</a>
      </div>
      <p class="footer__shelly">© 2021 Shelly. <a href="">Terms of use</a> and <a href="">privacy policy.</a></p>
    </div>
    <div class="footer__right">
      <div class="footer__send-email">
        <input type="email" placeholder="Give an email, get the newsletter.">
        <button><img src="/assets/icons/arrow-icon.svg" alt=""></button>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__social--item"><img src="/assets/icons/link-icon.png" alt=""></a>
        <a href="#" class="footer__social--item"><img src="/assets/icons/facebook-icon.svg" alt=""></a>
        <a href="#" class="footer__social--item"><img src="/assets/icons/instagram-icon.png" alt=""></a>
        <a href="#" class="footer__social--item"><img src="/assets/icons/twiter-icon.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>
