<div class="container">
  <div class="header">
    <div class="header__left">
      <img src="assets/image/header/shop-lable.svg" alt="logo" class="header__logo">
      <div class="header__nav">
        <a routerLink="/" class="header__nav--item">Shop</a>
        <a routerLink="/about" class="header__nav--item">Blog</a>
        <a routerLink="/about" class="header__nav--item">About</a>
      </div>
    </div>

    <div class="header__vertical-line"></div>

    <div class="header__menu">
      <img src="assets/image/header/search-icon.svg" alt="icon" class="header__menu--item" />
      <img src="assets/image/header/cart-icon.svg" alt="icon" class="header__menu--item" />
      <img src="assets/image/header/acaunt-icon.svg" alt="icon" class="header__menu--item" />
    </div>

  </div>
</div>
